* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */
.custom-background {
	background-color: lightskyblue;
}


body {
	
	color: whitesmoke;
    Font-family: arial;
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
}


p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}


pre {
	color: yellow;
}

.desc {
	color: yellow;
	font-family: cursive;
}

.cursive {
    font-family: arial;
    color: hotpink;
    font-weight: bold;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

.darkmode {
    position: absolute;
    top: 27px;
    left: 270px;
    padding: 4px 8px;
    font-size: 22px;
    border-radius: 100%;
    background: white;
    box-shadow: 0px 0px 0px #000;
    transition: all 400ms ease;
    cursor: pointer;
}

/*	DARK MODE STYLES GO HERE */

body.darkmode {
	background: darkblue;
	

body.darkmode {
	color: white;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/